@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  color: #2b2b2b;
  background-color: #f7f2ea;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7f2ea;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
